[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
xlrd = "==1.0.0"
lxml = "==4.1.0"
svn = "==0.3.46"
requests = "==2.20.1"
robotframework = "==3.0.2"
djangorestframework = "==3.9.0"
paramiko = "==2.4.1"
django-cors-headers = "==2.4.0"
Django = "==2.1.4"
Tenjin = "==1.1.1"
APScheduler = "==3.5.3"

[requires]
python_version = "3.6"
