<!DOCTYPE html>
<html ng-app="TestJobModule">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'proxy/semantic/dist/semantic.min.css' %}">
    <link rel="shortcut icon" href="{% static 'proxy/img/bitbug_favicon.ico' %}">
    <title>Job</title>
</head>
<body ng-controller="testpCtrl">
<div class="ui inverted dimmer" id="pageloader">
    <div class="ui large text loader">Loading</div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">{% include 'proxy/nav.html'%}</div>
    <div class="ui internally celled grid">
        <div class="row">
            <div class="sixteen wide column">
                <form class="ui form" id="tform" method="post">
                    <div class="fields">
                        <div class="three wide field">
                            <select name="project" class="ui search dropdown"
                                    data-ng-options="pj.pk for pj in testprojects" ng-model="pj">
                                <option value="">Project</option>
                            </select>
                        </div>
                        <div class="field">
                            <div class="ui green right submit small button" ng-click="search()">Search</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <table class="ui compact selectable celled striped teal table">
                <thead>
                <tr>
                    <th class="one wide">Project Job</th>
                    <th class="one wide">Job Status</th>
                    <th class="one wide">Start Date</th>
                    <th class="one wide">End Date</th>
                    <th>Test Automation</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tj in testjobs" ng-class="{Done:'positive',Error :'error'}[tj.status]">
                    <td ng-bind="tj.project"></td>
                    <td >
                        <i class='icon'
                                   ng-class="{Done:'green checkmark',Error :'red close'}[tj.status]" ng-bind="tj.status"></i>
                    </td>
                    <td ng-bind="tj.start"></td>
                    <td ng-bind="tj.end"></td>
                    <td>
                        <table class="ui small table very compact">
                            <thead>
                            <th class="two wide">Test</th>
                            <th class="one wide">Project Branch</th>
                            <th class="two wide">Project SHA</th>
                            <th class="one wide">Version</th>
                            <th>Robot Parameter</th>
                            <th class="one wide">Status</th>
                            <th class="two wide">runtime log</th>
                            <th class="one wide">report</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="test in tj.tests">
                                <td class="collapsing" ng-bind="test.name"></td>
                                <td class="collapsing" ng-bind="test.project_branch"></td>
                                <td class="collapsing" ng-bind="test.project_sha"></td>
                                <td class="collapsing" ng-bind="test.revision_number"></td>
                                <td class="collapsing" ng-bind="test.robot_parameter"></td>
                                <td class="collapsing" ng-class="{PASS:'positive',FAIL :'error'}[test.status]" ng-bind="test.status"></td>
                                <td class="collapsing">
                                    <a target='_blank'
                                       href='/test/log/{% templatetag openvariable %} test.log {% templatetag closevariable %}'>
                                        <i class='large file text outline icon'></i>
                                    </a>
                                </td>
                                <td class="collapsing">
                                    <a target='_blank'
                                       href='/report/{% templatetag openvariable %} test.id {% templatetag closevariable %}'>
                                        <i class='large file text outline icon'></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
<script src="{% static 'proxy/js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'proxy/js/jquery.cookie.js' %}"></script>
<script src="{% static 'proxy/js/jquery.form.js' %}"></script>
<script src="{% static 'proxy/js/angular.min.js' %}"></script>
<script src="{% static 'proxy/semantic/dist/semantic.min.js' %}"></script>
<script type="text/javascript">
        $(function(){
            $('#testjob').addClass('active');
            var
            $menuItem = $('.menu .item'),
            $dropdown = $('.dropdown'),
            // alias
            handler = {
              activate: function() {
                if(!$(this).hasClass('dropdown')) {
                  $(this)
                  .addClass('active')
                  .closest('.ui.menu')
                  .find('.item')
                  .not($(this))
                  .removeClass('active')
                  ;
                }
              }

            };
            $menuItem.on('click', handler.activate);
            $dropdown.dropdown('save defaults');
        })
</script>
<script type="text/javascript">
        var TestJobModule=angular.module('TestJobModule', []);
        TestJobModule.controller('testpCtrl',['$scope','$http','$compile',
            function($scope,$http,$compile){
                $http.get('/job/getall/30').success(function(result){
                    $scope.testjobs=result
                });
                $http.get('/project/getall').success(function(result){
                    $scope.testprojects=result
                });
                $scope.search=function(){
            		 $.ajax({
            		     method:'get',
                         url:'/job/search/'+$scope.pj.pk+'/',
                         success:function(result){
                        	 $scope.testjobs= result;
                        	 $scope.$apply();
                         }
                         })
            	};
               ;}
            ]);







</script>
</html>