<!DOCTYPE html>
<html ng-app="TestLabModule">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'proxy/semantic/dist/semantic.min.css' %}">
    <link rel="shortcut icon" href="{% static 'proxy/img/bitbug_favicon.ico' %}">
    <title>Job</title>
</head>
<body ng-controller="testpCtrl">
<div class="ui inverted dimmer" id="pageloader">
    <div class="ui large text loader">Loading</div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">{% include 'proxy/nav.html'%}</div>
    <div class="ui internally celled grid">
        <div class="row">
            <table class="ui compact selectable celled striped teal table">
                <thead>
                <tr>
                    <th class="two wide">Project</th>
                    <th class="one wide">Servers</th>
                    <th>Test Automation</th>
                    <th class="two wide">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td ng-bind="testproject.name"></td>
                    <td>
                        <table class="ui small table very compact">
                            <tbody>
                            <tr ng-repeat="node in testproject.nodes">
                                <td ng-bind="node.name"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="ui small table very compact">
                            <thead>
                            <th class="four wide">Test</th>
                            <th class="nine wide">URL</th>
                            <th class="three wide">Robot Parameter</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="map in testproject.maps">
                                <td ng-bind="map.test"></td>
                                <td ng-bind="map.testurl"></td>
                                <td ng-bind="map.robot_parameter"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <button class="ui blue button" ng-click="tojob(testproject)">Run</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div class="ui first modal">
    <i class="close icon"></i>
    <div class="header">
        Current Server Status
    </div>
    <div class="content">
        <div class='ui message'>
            <table class="ui small celled table very compact">
                <thead>
                <th>Server Name</th>
                <th>Server Status</th>
                </thead>
                <tbody>
                <tr ng-repeat="node in project.nodes">
                    <td ng-bind="node.name"></td>
                    <td ng-bind="node.status"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-bind='automation'></div>
    </div>
    <div class="actions">
        <div class="ui red deny button">Cancel</div>
        <div class="ui green approve button">Run</div>
    </div>
</div>
<div class="ui second modal">
    <i class="close icon"></i>
    <div class="header">
        Status
    </div>
    <div class="content">
        <div class='ui message'>
            Job added successfully
        </div>
        <div ng-bind='automation'></div>
    </div>
    <div class="actions">
        <div class="ui green approve button">OK</div>
    </div>
</div>
</body>
<script src="{% static 'proxy/js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'proxy/js/jquery.cookie.js' %}"></script>
<script src="{% static 'proxy/js/jquery.form.js' %}"></script>
<script src="{% static 'proxy/js/angular.min.js' %}"></script>
<script src="{% static 'proxy/semantic/dist/semantic.min.js' %}"></script>
<script type="text/javascript">
        $(function(){
            $('#testlab').addClass('active');
        })

</script>
<script type="text/javascript">
        var TestLabModule=angular.module('TestLabModule', []);
        TestLabModule.controller('testpCtrl',['$scope','$http','$compile',
            function($scope,$http,$compile){
                $http.get('/lab/get/{{project}}/').success(function(result){

                    $scope.testproject=result
                });
                $scope.tojob=function(tp){
                $scope.tp = tp;
                jobname = tp.name;
                $.ajax({
                    type:"GET",
                    url:'/getdetail/'+tp.name+'/',
                    success:function(result){
                        $scope.project=result;
                        $scope.$apply();
                        $('.ui.first.modal').modal({
                        onApprove : function() {
                            $.ajax({
                            type:"GET",
                            url:"/"+jobname+"/start/",
                            success:function(result){
                            }
                            })
                            $('.ui.second.modal').modal({
                            onApprove : function() {
                                location.href='/job/'+jobname+'/';
                            }
                            }).modal('show');
                        }
                    }).modal('show');
                        }
                })}}
            ]);



























</script>
</html>