<!DOCTYPE html>
<html ng-app="TestProjectModule">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'proxy/semantic/dist/semantic.min.css' %}">
    <link rel="shortcut icon" href="{% static 'proxy/img/bitbug_favicon.ico' %}">
    <title>Project</title>
</head>
<body ng-controller="testpCtrl">
<div class="ui inverted dimmer" id="pageloader">
    <div class="ui large text loader">Loading</div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">{% include 'proxy/nav.html'%}</div>
    <div class="ui internally celled grid">
        <div class="row">
            <div class="twelve wid column">
                <div id="addf" class="ui tiny teal button"><i class="plus icon"></i>
                    project
                </div>
            </div>
        </div>
        <div class="row">
            <div class="three wide column">
                <div class="ui vertical fluid small pointing menu">
                    <a class="item" id="{% templatetag openvariable %} tf.pk {% templatetag closevariable %}"
                       ng-repeat="tf in testprojects" ng-click="getproject($event.target)" ng-bind="tf.pk">
                    </a>
                </div>
            </div>
            <div class="thirteen wide column" style="display:none">
                <div class="ui inverted dimmer" id="loader">
                    <div class="ui text loader">Loading</div>
                </div>
                <form class="ui form" id="tform" method="post" enctype="multipart/form-data">
                    <div class="ui top attached inverted blue button" tabindex="0" ng-click="gotolab(project.pk)">GoTo Test Lab</div>
                    <h4 class="ui teal dividing header">Information</h4>
                    <input type="text" name="pk" ng-model="project.pk" style="display:none">
                    <div class="two fields">
                        <div class="required field">
                            <label>Name:</label>
                            <input type="text" name="name" ng-model="project.name"></div>
                        <div class="field">
                            <label>Email:</label>
                            <input type="text" name="email" ng-model="project.email"
                                   placeholder="aaa@derbysoft.com;bbb@derbysoft.com"></div>
                    </div>
                    <h4 class="ui teal dividing header">Servers</h4>
                    <div class="fields">
                        <div id="server_drop" class="ui fluid multiple search selection dropdown">
                            <input type="hidden" name="servers">
                            <i class="dropdown icon"></i>
                            <div class="text"></div>
                            <div class="menu">
                                <div class="item" ng-repeat="nodes in allnodes"
                                     data-value="{% templatetag openvariable %}nodes.name{% templatetag closevariable %}">
                                    {% templatetag openvariable %} nodes.name {% templatetag closevariable %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="ui teal header">Test Automation</h4>
                    <div id='maps'>
                        <div id="map-{% templatetag openvariable %}map.pk{% templatetag closevariable %}"
                             ng-repeat="map in project.maps">
                            <h4 class="ui teal dividing header"></h4>
                            <div class="two fields">
                                <div class="required field">
                                    <label>Test Name:</label>
                                    <input type="text"
                                           name="map-test-{% templatetag openvariable %}map.pk{% templatetag closevariable %}"
                                           ng-model="map.test"></div>
                                <div class="required field">
                                    <label>Automation URL:</label>
                                    <input type="text"
                                           name="map-url-{% templatetag openvariable %}map.pk{% templatetag closevariable %}"
                                           ng-model="map.testurl"></div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Robot Parameters:</label>
                                    <input type="text"
                                           name="map-robot-{% templatetag openvariable %}map.pk{% templatetag closevariable %}"
                                           ng-model="map.robot_parameter"></div>
                                <div class="field">
                                    <label>Enable</label>
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox"
                                               ng-checked="{% templatetag openvariable %}map.use{% templatetag closevariable %}"
                                               name="map-use-{% templatetag openvariable %}map.pk{% templatetag closevariable %}">
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                            <button class="ui red button">Delete</button>

                        </div>
                    </div>
                    <input type="text" name="mapcount" ng-model="project.maps[maps.length-1].pk" style="display:none">
                    <h4 class="ui teal dividing header"></h4>
                    <div id="ttladd" class="ui blue small labeled icon button" ng-click="ttladd()">
                        <i class="plus icon"></i>
                        Add Automation
                    </div>
                    <h4 class="ui teal dividing header"></h4>
                    <div class="ui large buttons">
                        <button class="ui red button" ng-click="delete()">Delete</button>
                        <div class="or"></div>
                        <button class="ui teal button" ng-click="update()">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="ui large modal" id="newtestproject">
    <i class="close icon"></i>
    <div class="header">Add New Project</div>
    <div class="content">
        <form class="ui form" id="newtform" method="post">
            <h4 class="ui teal dividing header">Project Name</h4>
            <div class="tow fields">
                <div class="required eight wide field">
                    <label>Name:</label>
                    <input type="text" name="name"></div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui red deny button">Cancel</div>
        <div class="ui green approve button">Save</div>
    </div>
</div>
<div class="ui modal" id="updatemessage">
    <div class="header">Message</div>
    <div class="content"></div>
    <div class="actions">
        <div class="ui green approve button">OK</div>
    </div>
</div>
<div class="ui modal" id="deletemessage">
    <div class="header">Message</div>
    <div class="content">Delete Successful</div>
    <div class="actions">
        <div class="ui green approve button">OK</div>
    </div>
</div>
</body>
<script src="{% static 'proxy/js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'proxy/js/jquery.cookie.js' %}"></script>
<script src="{% static 'proxy/js/jquery.form.js' %}"></script>
<script src="{% static 'proxy/js/angular.min.js' %}"></script>
<script src="{% static 'proxy/semantic/dist/semantic.min.js' %}"></script>
<script src="{% static 'proxy/js/project.js' %}"></script>
</html>