<!DOCTYPE html>
<html ng-app="TestProjectModule">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'proxy/semantic/dist/semantic.min.css' %}">
    <link rel="shortcut icon" href="{% static 'proxy/img/bitbug_favicon.ico' %}">
    <title>Project</title>
</head>
<body ng-controller="testpCtrl">
<div class="ui inverted dimmer" id="pageloader">
    <div class="ui large text loader">Loading</div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">{% include 'proxy/nav.html'%}</div>
    <div class="ui internally celled grid">
        <div class="row">
            <div class="twelve wid column">
                <div id="addf" class="ui tiny teal button"><i class="plus icon"></i>
                    project
                </div>
            </div>
        </div>
        <div class="row">
            <div class="three wide column">
                <div class="ui vertical fluid small pointing menu">
                    <a class="item" id="{% templatetag openvariable %} tf.pk {% templatetag closevariable %}"
                       ng-repeat="tf in testprojects" ng-click="getproject($event.target)" ng-bind="tf.pk">
                    </a>
                </div>
            </div>
            <div class="thirteen wide column" style="display:none">
                <div class="ui inverted dimmer" id="loader">
                    <div class="ui text loader">Loading</div>
                </div>
                <form class="ui form" id="tform" method="post" enctype="multipart/form-data">
                    <h4 class="ui teal dividing header">Information</h4>
                    <input type="text" name="pk" ng-model="pk" style="display:none">
                    <div class="two fields">
                        <div class="required field">
                            <label>Name:</label>
                            <input type="text" name="name" ng-model="name"></div>
                        <div class="field">
                            <label>Email:</label>
                            <input type="text" name="email" ng-model="email"
                                   placeholder="aaa@derbysoft.com;bbb@derbysoft.com"></div>
                    </div>
                    <h4 class="ui teal header">Test Automation</h4>
                    <div id='maps'>
                        <div id="map-{% templatetag openvariable %}map.pk{% templatetag closevariable %}"
                             ng-repeat="map in maps">
                            <h4 class="ui teal dividing header"></h4>
                            <div class="two fields">
                                <div class="required field">
                                    <label>Test Name:</label>
                                    <input type="text"
                                           name="map-test-{% templatetag openvariable %}map.pk{% templatetag closevariable %}"
                                           ng-model="map.test"></div>
                                <div class="required field">
                                    <label>Automation URL:</label>
                                    <input type="text"
                                           name="map-url-{% templatetag openvariable %}map.pk{% templatetag closevariable %}"
                                           ng-model="map.url"></div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Robot Parameters:</label>
                                    <input type="text"
                                           name="map-robot-{% templatetag openvariable %}map.pk{% templatetag closevariable %}"
                                           ng-model="map.robot"></div>
                                <div class="field">
                                    <label>Enable</label>
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox"
                                               ng-checked="{% templatetag openvariable %}map.use{% templatetag closevariable %}"
                                               name="map-use-{% templatetag openvariable %}map.pk{% templatetag closevariable %}">
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                            <button class="ui red button">Delete</button>

                        </div>
                    </div>
                    <input type="text" name="mapcount" ng-model="maps[maps.length-1].pk" style="display:none">
                    <h4 class="ui teal dividing header"></h4>
                    <div id="ttladd" class="ui blue small labeled icon button" ng-click="ttladd()">
                        <i class="plus icon"></i>
                        Add Automation
                    </div>
                    <h4 class="ui teal dividing header"></h4>
                    <div class="ui large buttons">
                        <button class="ui red button" ng-click="delete()">Delete</button>
                        <div class="or"></div>
                        <button class="ui teal button" ng-click="update()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="ui large modal" id="newtestproject">
    <i class="close icon"></i>
    <div class="header">Add New Project</div>
    <div class="content">
        <form class="ui form" id="newtform" method="post">
            <h4 class="ui teal dividing header">Project Name</h4>
            <div class="tow fields">
                <div class="required eight wide field">
                    <label>Name:</label>
                    <input type="text" name="name"></div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui red deny button">Cancel</div>
        <div class="ui green approve button">Save</div>
    </div>
</div>
<div class="ui modal" id="updatemessage">
    <div class="header">Message</div>
    <div class="content"></div>
    <div class="actions">
        <div class="ui green approve button">OK</div>
    </div>
</div>
<div class="ui modal" id="deletemessage">
    <div class="header">Message</div>
    <div class="content">Delete Successful</div>
    <div class="actions">
        <div class="ui green approve button">OK</div>
    </div>
</div>
</body>
<script src="{% static 'proxy/js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'proxy/js/jquery.cookie.js' %}"></script>
<script src="{% static 'proxy/js/jquery.form.js' %}"></script>
<script src="{% static 'proxy/js/angular.min.js' %}"></script>
<script src="{% static 'proxy/semantic/dist/semantic.min.js' %}"></script>
<script type="text/javascript">
        function addtest(id){
            var str = "<div id='map-"+id+"' >"
                    +"<h4 class='ui teal dividing header'></h4>"
                    +"<div class='two fields'>"
                    +"<div class='required field'>"
                    +"<label>Test Name:</label>"
                    +"<input type='text' name='map-test-"+id+"'></div>"
                    +"<div class='required field'>"
                    +"<label>Automation URL:</label>"
                    +"<input type='text' name='map-url-"+id+"'></div>"
                    +"</div>"
                    +"<div class='two fields'>"
                    +"<div class='field'>"
                    +"<label>Robot Parameters:</label>"
                    +"<input type='text' name='map-robot-"+id+"'></div>"
                    +"<div class='field'>"
                    +"<label>Enable:</label>"
                    +"<div class='ui toggle checkbox'><input type='checkbox' checked='true' name='map-use-"+id+"'><label></label></div></div>"
                    +"</div>"
                    +"<button  class='ui red button'>Delete</button >"
                    +"</div>"
            return str
        };





</script>
<script type="text/javascript">
        $(function(){
            $('#testproject').addClass('active');
            var
            $menuItem = $('.menu .item'),
            $dropdown = $('.dropdown'),
        // alias
            handler = {
                activate: function() {
                    if(!$(this).hasClass('dropdown')) {
                        $(this)
                                .addClass('active')
                                .closest('.ui.menu')
                                .find('.item')
                                .not($(this))
                                .removeClass('active')
                        ;
                    }
                }

            }
            ;
        $menuItem.on('click', handler.activate);
        $dropdown.dropdown('save defaults');
            $('#maps').on('click','.red.button',function(){
            $(this).parent().remove();
            });
            $('#addf').click(function(){
            $('#newtform').find('input').val('');
            $('#newtform').find('.field').removeClass('error');
            $('#newtestproject')
                    .modal({
                        closable:false,
                        onApprove : function() {
                           $("#pageloader").addClass('active');
                                $('#newtform').ajaxSubmit({
                                  url:'/project/add',
                                  success:function(result){
                                    location.href='/';
                                    }
                                })
                        }
                    })
                    .modal('show');
            });
        })





</script>
<script type="text/javascript">
        var TestProjectModule=angular.module('TestProjectModule', []);
        TestProjectModule.controller('testpCtrl',['$scope','$http','$compile',
            function($scope,$http,$compile){
                $http.get('/project/getall').success(function(result){
                    $scope.testprojects=result
                });
                $scope.getproject=function(target){
                $('#loader').dimmer("show");
                $('#maps').find(':not(.ng-sope)').remove()
                $('.thirteen.wide.column').css('display','table-cell')
                var $t = angular.element(target);
                $t.siblings().removeClass('active')
                $t.addClass('active blue')
                if ($t.hasClass("header")){
                    id = $t.parent().parent().attr('id')
                    }
                else if ($t[0].tagName=='SPAN')
                    {
                    id = $t.parent().parent().parent().attr('id')
                    }
                else{
                    id = $t.attr('id')
                    }
                testfactory = id
                $.ajax({
                    type:"GET",
                    url:'/project/getdetail',
                    data:{tid:id},
                    success:function(result){
                        $scope.pk=result.pk
                        $scope.name=result.name
                        $scope.email=result.email
                        $scope.maps=result.maps
                        $scope.$apply();
                        $('.dropdown.scm').dropdown('set text',result.scm);
                        $('.dropdown.scm').dropdown('set value',result.scm);
                        $('#loader').dimmer("hide");
                    }
                });
            };
                $scope.ttladd =function(){
                var mapcount = $('input[name=mapcount]');
                id = mapcount.val();
                if (!id)
                {id=0}
                newmap = addtest(parseInt(id)+1);
                $('#maps').append($compile(newmap)($scope));
                mapcount.val(parseInt(id)+1);
                $scope.$apply();
                };
                $scope.update=function(){
                            $('#loader').dimmer("show");
                            $('#tform').ajaxSubmit({
                              url:'/project/update',
                              success:function(result){
                                $('#loader').dimmer("hide");
                               if (result.status == 'scuess')
                                {  
                                    $('#updatemessage .content').html('Update Successful');
                                    $('#updatemessage').modal('show');
                                }
                                else{
                                    $('#updatemessage .content').text(result.status);
                                    $('#updatemessage').modal('show');
                                }
                              }
                              })
               };
               $scope.delete=function(){
                            $('#loader').dimmer("show");
                            $('#tform').ajaxSubmit({
                              url:'/project/delete',
                              success:function(result){
                                $('#loader').dimmer("hide");
                                $('#deletemessage').modal({
                                  closable:false,
                                  onApprove : function() {
                                    location.href='/';
                                  }
                                  }).modal('show');
                                }
                                })
               };
            }
            ]);





</script>
</html>